$navbar-default-bg: #4EA7D7;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
text-decorartion: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('logo_alpha.png');
  background-color: #fff;
  background-size: 150px 320px;
  background-repeat: no-repeat;
  height: 320px;
}

.jumbotron h1 {
  color:#4EA7D7;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  color: #000;
  
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}