<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Kim Vertner 2017
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>